<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      myLife
    </ion-title>
  </ion-navbar>
</ion-header>
<!--Heutige Aktivitäten-->
<ion-content padding>
  <h1>Heutige Aktivitäten</h1>
  <ion-list>
    <!--Durchläuft items im local storage und gibt jedes item aus-->
    <ion-item *ngFor="let item of items" (click)="viewItem(item)">
      <ion-icon name="play" item-start></ion-icon>
      <ion-label>
      {{item.title}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-buttons>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
  </ion-buttons>
<br><br>

<!--Wöchentliche Aktivitäten-->
    <h1>Wöchentliche Aktivitäten</h1>
    <ion-list>
      <!--Durchläuft weeklyItems im local storage und gibt jedes weeklyItem aus-->
      <ion-item *ngFor="let weeklyItem of weeklyItems" (click)="viewWeeklyItem(weeklyItem)">
        <ion-icon name="play" item-start></ion-icon>
        <ion-label>
      {{weeklyItem.title}} <br> Uhrzeit: {{weeklyItem.start}} Uhr bis {{weeklyItem.end}} Uhr
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-buttons>
        <button ion-button icon-only (click)="addWeeklyItem()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>


</ion-content>
